@import '../../../node_modules/bulma/bulma'

h1
  color: #111
  font-family: 'Helvetica Neue', sans-serif
  font-size: 2.5rem
  font-weight: bold

h2
  color: #111
  font-family: 'Open Sans', sans-serif
  font-size: 2rem

p
  font-family: 'Helvetica Neue', sans-serif
  text-justify: inter-word

.auth-input
  max-width: 370px

.button
  margin: 7px

.selector
  &:hover
    cursor: pointer
    background: lightseagreen
    color: white
  &.active
    background: #2db67c
    color: white